.container{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   flex-wrap: wrap;
   height: 100vh;
}



.container_child{
   display: flex;
   justify-content:center;
   align-items:center;
   margin: 10px;
   width: 80%;
}

.container_child_input_search{
   width: 100%;
   text-align: center;
   border-radius: 10px;
   border: 1px solid #2699F2;
   font-size: 20px;
   color: #0288F0;
}

.container_child_input_search:focus{
  border: 2px solid #2699F2;
}

.container_child_mkb{
   display: flex;
   flex-direction:column;
   align-items:center;
   width: 100%;
  /* height: 85vh;*/
   overflow-y: auto;
   flex: 1 1 !important;
}

.container_child_mkb_item{
   width: 80%;
   border: thin solid #0288F0;
   border-radius: 10px;
   margin:2px;
   padding: 3px;
}

.container_child_mkb_item_kod{
    color: #F3F9FE;
    font-size: larger;
    font-weight: 600;
    margin-right: 2px;
}

.container_child_mkb_item_title{
    color: #F3F9FE;
    font-size: larger;
    font-weight: 500;
    margin-left: 2px;
}

