body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset,img {
	border: 0;
	}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
	}
ol,ul {
	list-style: none;
	}
caption,th {
	text-align: left;
	}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before,q:after {
	content:'';
	}
abbr,acronym { border: 0;
	}

body{
  background: #2196f36b;
}
.container{
   display: flex;
   justify-content:center;
   align-items:center;
   flex-wrap: wrap;
}
.container_title{
    color: #001fff;
    font-size: 5vw;
    font-weight: 600;
    margin-right: 2px;
    padding-top: 10px;
}
.container_child{
   display: flex;
   justify-content:center;
   align-items:center;
   width: 100%;
   margin: 10px;
}
.container_child_button{
   display: flex;
   flex-direction:column;
   padding-top: 20px;
   width: 100%;
   margin: 10px;
   height: 80vh;
}

.container_child_button_item{
    width: 85%;
    height: 50%;
    font-size: 5vw;
    margin: 2px;
}

.container_child_input_search{
   width: 85%;
   text-align: center;
   border-radius: 10px;
   font-size: 20px;
   color: #001fff;
}
.container_child_mkb{
   display: flex;
   flex-direction:column;
   align-items:center;
   width: 100%;
   height: 85vh;
   overflow-y: auto;
}
.container_child_mkb_item{
   width: 85%;
   border: thin solid white;
   border-radius: 10px;
   margin:2px;
   padding: 3px;
}
.container_child_mkb_item_kod{
    color: #001fff;
    font-size: larger;
    font-weight: 600;
    margin-right: 2px;
}
.container_child_mkb_item_title{
    color: #001fff;
    font-size: larger;
    font-weight: 500;
    margin-left: 2px;
}
